<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% else %}
    <meta name="description" content="{{site.description}}" />
  {% endif %}

  {% if page.categories %}
    <meta name="keywords" content="{{ page.tags | join: ', '}}" />
  {% else %}
    <meta name="keywords" content="{{ site.keywords | join: ', '}}" />
  {% endif %}

  <title>Daniel Alvarenga - {{ page.title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
  <link rel="stylesheet" href="/css/styles.css" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39092743-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lato:400,900:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Daniel Alvarenga Lima</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://www.github.com/danielalvarenga" target="_blank">GitHub</a>
            </li>
            <li>
              <a href="br.linkedin.com/in/alvarengadaniel" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a href="https://www.facebook.com/danielalvarengalima" target="_blank">Facebook</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div style="text-align: center; position: relative;" class="row-fluid">
      <div class="span3"></div>
      <div class="span6">
        {{ content }}
        <hr/>
        <p class="footer">
          Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>
        </p>
      </div>
      <div class="span3"></div>
    </div>
  </div>
</body>
</html>
